<h1> <%= @application.name %> </h1>

  <h3> Events: </h3>
    <% @events.each do |event, visit| %>
      <h5> Event: <%= event %> </h5>
      <h5> Times Visited: <%= visit.count %> </h5>
        <br>
    <% end %>


    <%= pie_chart @application.events.group(:name).count %>

    <br>

    <%= line_chart @application.events.group_by_day(:created_at).count %>
