<h1> <%= @user.username %>'s Profile
  <% if @user == current_user %>
  <%= link_to "Add Application", new_registered_application_path, class: 'btn btn-success' %>
  <% end %>
</h1>

  <% @user_applications.each do |app| %>
  <h3> <%= app.name %> <%= link_to "Delete Application", registered_application_path(app), method: :delete, class: 'btn btn-danger' %> </h3> 
  <p> <%= app.url %> </p>
  <% end %>
